<div style="margin-left: 3%; margin-right: 3%;" class="bs-example" data-example-id="striped-table">
    <div class="page-header">
    	<h1>Create History</h1>
    </div>
    <table class="table table-striped">
        <thead>
        	<tr>
    		    <th>#</th>
    	    	<th>Product Name</th>
    	    	<th>Price</th>
    	    	<th>Chance</th>
    	    </tr>
        </thead>
    	<tbody>
    		<tr>
    		    <th><img src="img/skin1.jpg"></th>
    		    <th>skin no.1</th>
    		    <th>270</th>
    		    <th><input type="text" placeholder="Chance"></th>
    	    </tr>
    	    <tr>
    		    <th><img src="img/skin2.jpg"></th>
    		    <th>skin no.2</th>
    		    <th>270</th>
    		    <th><input type="text" placeholder="Chance"></th>
    	    </tr>
    	</tbody>
    </table>
</div>