<div class="page-header">
	<h1>Products  <small>sexy products</small></h1>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="img/skin1.jpg">
        </a>
        <p>skin no.1</p>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="img/skin2.jpg">
        </a>
        <p>skin no.2</p>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="img/skin3.jpg">
        </a>
        <p>skin no.3</p>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="img/skin4.jpg">
        </a>
        <p>skin no.4</p>
    </div>
</div>
<nav>
    <h1><small>other products</small></h1>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<div class="row">
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="img/skin1.jpg">
        </a>
        <p>skin no.1</p>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="img/skin2.jpg">
        </a>
        <p>skin no.2</p>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="img/skin3.jpg">
        </a>
        <p>skin no.3</p>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="img/skin4.jpg">
        </a>
        <p>skin no.4</p>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="img/skin3.jpg">
        </a>
        <p>skin no.5</p>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="img/skin4.jpg">
        </a>
        <p>skin no.6</p>
    </div>
</div>