<div style="margin-left: 3%;margin-right: 3%">
    <div class="page-header">
        <h1>Profile <small>show your sexy datas</small></h1>
    </div>
    <img class="col-lg-4" ng-src="$root.user.userPhoto || 'шикхов'">
    <div class=" col-lg-8">
        <table class="table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th ng-bind="$root.user.userName || 'ernie'"></th>
                </tr>
                <tr>
                    <th>Email</th>
                    <th ng-bind="$root.user.userEmail || 'b01505023@ntu.edu.tw'"></th>
                </tr>
                <tr>
                    <th>Gender</th>
                    <th ng-bind="$root.user.userGender || 'Male'"></th>
                </tr>
                <tr>
                    <th>Birthday</th>
                    <th ng-bind="$root.user.userBirthday || '52/17/69'"></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>