<div style="margin-left: 3%;margin-right: 3%">
	<div class="page-header">
		<h1>Searching <small>find the sexy products</small></h1>
	</div>
	<nav>
    	<h3>Result</h3>
    	<ul class="pagination">
        	<li role="presentation" class="active"><a href="#otherproducts1" aria-controls="otherproducts1" role="tab" data-toggle="tab">1</a></li>
        	<li><a href="#otherproducts2" aria-controls="otherproducts2" role="tab" data-toggle="tab">2</a></li>
        	<li><a href="#otherproducts3" aria-controls="otherproducts3" role="tab" data-toggle="tab">3</a></li>
        	<li><a href="#otherproducts4" aria-controls="otherproducts4" role="tab" data-toggle="tab">4</a></li>
        	<li><a href="#otherproducts5" aria-controls="otherproducts5" role="tab" data-toggle="tab">5</a></li>
    	</ul>
	</nav>
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="otherproducts1">
	    	<div class="row">
            	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	        	<img src="img/skin1.jpg">
            		</a>
        	    	<p>skin no.1</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin2.jpg">
    	        	</a>
    	        	<p>skin no.2</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin3.jpg">
    	    	    </a>
    	    	    <p>skin no.3</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	    	    <img src="img/skin4.jpg">
            		</a>
        	    	<p>skin no.4</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
        		    <a href="#" class="thumbnail">
    	    	        <img src="img/skin3.jpg">
    	        	</a>
    	    	    <p>skin no.5</p>
        		</div>
    	    	<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
        		        <img src="img/skin4.jpg">
    	    	    </a>
    	        	<p>skin no.6</p>
    	    	</div>
    		</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="otherproducts2">
	    	<div class="row">
            	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	        	<img src="img/skin1.jpg">
            		</a>
        	    	<p>skin no.7</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin2.jpg">
    	        	</a>
    	        	<p>skin no.8</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin3.jpg">
    	    	    </a>
    	    	    <p>skin no.9</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	    	    <img src="img/skin4.jpg">
            		</a>
        	    	<p>skin no.10</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
        		    <a href="#" class="thumbnail">
    	    	        <img src="img/skin3.jpg">
    	        	</a>
    	    	    <p>skin no.11</p>
        		</div>
    	    	<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
        		        <img src="img/skin4.jpg">
    	    	    </a>
    	        	<p>skin no.12</p>
    	    	</div>
    		</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="otherproducts3">
	    	<div class="row">
            	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	        	<img src="img/skin1.jpg">
            		</a>
        	    	<p>skin no.13</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin2.jpg">
    	        	</a>
    	        	<p>skin no.14</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin3.jpg">
    	    	    </a>
    	    	    <p>skin no.15</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	    	    <img src="img/skin4.jpg">
            		</a>
        	    	<p>skin no.16</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
        		    <a href="#" class="thumbnail">
    	    	        <img src="img/skin3.jpg">
    	        	</a>
    	    	    <p>skin no.17</p>
        		</div>
    	    	<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
        		        <img src="img/skin4.jpg">
    	    	    </a>
    	        	<p>skin no.18</p>
    	    	</div>
    		</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="otherproducts4">
	    	<div class="row">
            	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	        	<img src="img/skin1.jpg">
            		</a>
        	    	<p>skin no.19</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin2.jpg">
    	        	</a>
    	        	<p>skin no.20</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin3.jpg">
    	    	    </a>
    	    	    <p>skin no.21</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	    	    <img src="img/skin4.jpg">
            		</a>
        	    	<p>skin no.22</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
        		    <a href="#" class="thumbnail">
    	    	        <img src="img/skin3.jpg">
    	        	</a>
    	    	    <p>skin no.23</p>
        		</div>
    	    	<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
        		        <img src="img/skin4.jpg">
    	    	    </a>
    	        	<p>skin no.24</p>
    	    	</div>
    		</div>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="otherproducts5">
	    	<div class="row">
            	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	        	<img src="img/skin1.jpg">
            		</a>
        	    	<p>skin no.25</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin2.jpg">
    	        	</a>
    	        	<p>skin no.26</p>
    	    	</div>
        		<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
    	        	    <img src="img/skin3.jpg">
    	    	    </a>
    	    	    <p>skin no.27</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
    	        	<a href="#" class="thumbnail">
        	    	    <img src="img/skin4.jpg">
            		</a>
        	    	<p>skin no.28</p>
    	    	</div>
    	    	<div class="col-xs-4 col-md-2">
        		    <a href="#" class="thumbnail">
    	    	        <img src="img/skin3.jpg">
    	        	</a>
    	    	    <p>skin no.29</p>
        		</div>
    	    	<div class="col-xs-4 col-md-2">
    	    	    <a href="#" class="thumbnail">
        		        <img src="img/skin4.jpg">
    	    	    </a>
    	        	<p>skin no.30</p>
    	    	</div>
    		</div>
	    </div>
	</div>
</div>