<!DOCTYPE html>
<html>
<head>
	<title>OnlineShop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1, width = device-width, user-scalable = 0">
	<link rel="stylesheet" type="text/css" href="css/grid-fluid-12.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="wrap1">
        <div id="top" class="container_12">
            <div class="grid_6">
                <img src="img/Online_Shop_Logo.24535510_std.png">
            </div>
            <div class="grid_2">
                <input placeholder="Email">
            </div>
            <div class="grid_2">
                <input placeholder="Password">
            </div>
            <div class="grid_2">
                <button>Sign in</button>
            </div>
        </div>
    </div>
</body>
</html>