<!DOCTYPE html>
<html style="background-attachment: scroll;">
<head>
	<title>OnlineShop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1, width = device-width, user-scalable = 0">
	<link rel="stylesheet" type="text/css" href="css/grid-fluid-12.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Online Shop</a>
            <button>Sign in</button>
            <input placeholder="Password">
            <input placeholder="Account">
            <div class="navbar-right">
                <div class="container minicart"></div>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <div class="col-md-5 col-sm-12">
            <div class="bigcart"></div>
            <h1>Recommended Goods</h1>
        </div>
        
        
    </div>
</body>
</html>