<!DOCTYPE html>
<html>
<head>
	<title>OnlineShop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1, width = device-width, user-scalable = 0">
	<link rel="stylesheet" type="text/css" href="css/grid-fluid-12.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="wrap1" class="container_12">
        <div id="top" class="container_12">
            <div class="form-group">
                
            </div>
            <div class="form-group">
                
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>

            <input type="filepicker" data-fp-apikey="AfDUcO2yfT4yVBX9p2t4Xz" data-fp-mimetypes="text/comma-separated-values, text/csv, application/csv, application/excel, application/vnd.ms-excel, application/vnd.msexcel, text/anytext" data-fp-container="modal" onchange="alert(event.fpfile.url)">
        </div>
    </div>

    <script "text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
</body>
</html>