* {
	margin: 0;
	padding: 0;
	
}

#top {
	position: relative;
	height: 100px;
	margin-bottom: 15px;
	background-color: rgb(100, 100, 100);
}

#top img {
	position: relative;
	height: 80px;
	padding: 10px;
}

#top p {
	position: relative;
	margin-top: 17px;
}

#top input {
	position: relative;
	max-width: 100px;
	height: 30px;
	margin-top: 50px;
	border-radius: 7px;
}

#top button {
	position: relative;
	margin-top: 50px;
	height: 30px;
	border-radius: 7px;
	background-color: rgb(100, 250, 100);
}